DATABASE_URL=postgresql://postgres:postgres123@localhost:5432/money_management
JWT_ACCESS_SECRET=change-me-to-a-random-64-char-string
JWT_REFRESH_SECRET=change-me-to-a-random-64-char-string
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d
REDIS_HOST=localhost
REDIS_PORT=6379
CORS_ORIGIN=http://localhost:3000
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=

# Resend API (Alternative to SMTP, helpful for Render Free Tier)
RESEND_API_KEY=
MAIL_FROM=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:your-email@example.com
UPLOAD_DIR=./uploads
MAX_FILE_SIZE=20971520
PORT=3001
NODE_ENV=development

# Web Push
VAPID_PUBLIC_KEY=BGNOH80_kgW05c54_IcEFdiGtabFCxH980YgACVJdSLYHVuRU-KAYL899-gzn59MUI1PDfMXba8HLEr2X33Z2Cw
VAPID_PRIVATE_KEY=yNymS4fp8SlzE_X-3VMEtgHc5NK30o6PE8Vmf-KcrvY
VAPID_SUBJECT=mailto:your-email@example.com

# Google Sign-In Config
GOOGLE_CLIENT_ID=
